using UnrealSharp;
using UnrealSharp.Attributes;
using UnrealSharp.Engine;
using UnrealSharp.TurnBasedCore;

namespace {{Namespace}};

partial class {{ClassName}} : {{#Components}}ITurnBasedUnit<{{ComponentType}}>{{^IsLast}}, {{/IsLast}}{{/Components}}
{
    {{#Components}}
    {{ComponentType}} ITurnBasedUnit<{{ComponentType}}>.Component => {{ComponentName}};
    {{/Components}}
}